body{
    background-color:grey;
    margin:0px;
    padding:0px;
    font-family:'roboto';

}

.header{
    color:white;
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-top: 50px;
    
}
.header h1{
    background-color: black;
    padding:20px;

}
.nav{
    color:white;
    background-color: black;
    list-style:none;
    display: flex;
}
 .nav li{
     display:flex;
     flex-direction:column-reverse;
     justify-content:center;
 }
